<?xml version="1.0" encoding="utf-8"?>
<robot name="hexapod_v3">
  <link name="base_link">
    <inertial>
      <origin xyz="0.0012365 5.5511E-17 0.028671" rpy="0 0 0" />
      <mass value="10.399" />
      <inertia ixx="0.055" ixy="0.000" ixz="0.001" iyy="0.132" iyz="0.000" izz="0.160" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- 腿 1: 右前 (rf) -->
  <link name="rfl1">
    <inertial>
      <origin xyz="0 0 0.0013145" rpy="0 0 0" />
      <mass value="0.576" />
      <inertia ixx="0.000" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rfl1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rfl1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rfj1" type="revolute">
    <origin xyz="0.14185 -0.0655 -0.01975" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rfl1" />
    <axis xyz="0 0 -1" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="rfl2">
    <inertial>
      <origin xyz="-0.032218 -0.0039271 6.5393E-07" rpy="0 0 0" />
      <mass value="0.961" />
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.002" iyz="0.000" izz="0.002" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rfl2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rfl2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rfj2" type="revolute">
    <origin xyz="0.0385 0 -0.06575" rpy="0 0 0" />
    <parent link="rfl1" />
    <child link="rfl2" />
    <axis xyz="-1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="rfl3">
    <inertial>
      <origin xyz="-5.5511E-17 -0.13449 -2.7756E-17" rpy="0 0 0" />
      <mass value="0.124" />
      <inertia ixx="0.003" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rfl3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rfl3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rfj3" type="revolute">
    <origin xyz="0.02875 -0.216 0" rpy="0 0 0" />
    <parent link="rfl2" />
    <child link="rfl3" />
    <axis xyz="1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>

  <link name="leg_0_end" />
  <joint name="leg_0_end_joint" type="fixed">
    <origin xyz="0 -0.2 0" rpy="0 0 0" />
    <parent link="rfl3" />
    <child link="leg_0_end" />
  </joint>

  <!-- 腿 2: 左前 (lf) -->
  <link name="lfl4">
    <inertial>
      <origin xyz="0 2.7756E-17 0.0013145" rpy="0 0 0" />
      <mass value="0.576" />
      <inertia ixx="0.000" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lfl4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lfl4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lfj4" type="revolute">
    <origin xyz="0.14185 0.0655 -0.01975" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lfl4" />
    <axis xyz="0 0 -1" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="lfl5">
    <inertial>
      <origin xyz="-0.032218 0.0039271 -6.5368E-07" rpy="0 0 0" />
      <mass value="0.961" />
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.002" iyz="0.000" izz="0.002" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lfl5.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lfl5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lfj5" type="revolute">
    <origin xyz="0.0385 0 -0.06575" rpy="0 0 0" />
    <parent link="lfl4" />
    <child link="lfl5" />
    <axis xyz="-1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="lfl6">
    <inertial>
      <origin xyz="9.1871E-15 0.13449 0.00015249" rpy="0 0 0" />
      <mass value="0.124" />
      <inertia ixx="0.003" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lfl6.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lfl6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lfj6" type="revolute">
    <origin xyz="0.02875 0.216 0" rpy="0 0 0" />
    <parent link="lfl5" />
    <child link="lfl6" />
    <axis xyz="1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="leg_1_end" />
  <joint name="leg_1_end_joint" type="fixed">
    <origin xyz="0 0.2 0" rpy="0 0 0" />
    <parent link="lfl6" />
    <child link="leg_1_end" />
  </joint>

  <!-- 腿 3: 右中 (rm) -->
  <link name="rml7">
    <inertial>
      <origin xyz="-0.0017584 -1.3878E-17 0.00056229" rpy="0 0 0" />
      <mass value="0.601" />
      <inertia ixx="0.000" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rml7.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rml7.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rmj7" type="revolute">
    <origin xyz="0 -0.0655 -0.01975" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rml7" />
    <axis xyz="0 0 -1" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="rml8">
    <inertial>
      <origin xyz="-0.058726 -0.00053289 -5.8777E-07" rpy="0 0 0" />
      <mass value="1.088" />
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.006" iyz="0.000" izz="0.006" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rml8.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rml8.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rmj8" type="revolute">
    <origin xyz="0.02875 0 -0.06575" rpy="0 0 0" />
    <parent link="rml7" />
    <child link="rml8" />
    <axis xyz="1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="rml9">
    <inertial>
      <origin xyz="-9.2149E-15 -0.13449 0.00015249" rpy="0 0 0" />
      <mass value="0.124" />
      <inertia ixx="0.003" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rml9.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rml9.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rmj9" type="revolute">
    <origin xyz="-0.02875 -0.216 0" rpy="0 0 0" />
    <parent link="rml8" />
    <child link="rml9" />
    <axis xyz="-1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="leg_2_end" />
  <joint name="leg_2_end_joint" type="fixed">
    <origin xyz="0 -0.2 0" rpy="0 0 0" />
    <parent link="rml9" />
    <child link="leg_2_end" />
  </joint>

  <!-- 腿 4: 左中 (lm) -->
  <link name="lml10">
    <inertial>
      <origin xyz="-0.0017584 -2.7756E-17 0.00056229" rpy="0 0 0" />
      <mass value="0.601" />
      <inertia ixx="0.000" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lml10.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lml10.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lmj10" type="revolute">
    <origin xyz="0 0.0655 -0.01975" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lml10" />
    <axis xyz="0 0 -1" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="lml11">
    <inertial>
      <origin xyz="-0.058726 0.00053289 5.8777E-07" rpy="0 0 0" />
      <mass value="1.088" />
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.006" iyz="0.000" izz="0.006" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lml11.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lml11.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lmj11" type="revolute">
    <origin xyz="0.02875 0 -0.06575" rpy="0 0 0" />
    <parent link="lml10" />
    <child link="lml11" />
    <axis xyz="1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="lml12">
    <inertial>
      <origin xyz="8.6919E-12 0.13449 -0.00015249" rpy="0 0 0" />
      <mass value="0.124" />
      <inertia ixx="0.003" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lml12.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lml12.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lmj12" type="revolute">
    <origin xyz="-0.02875 0.216 0" rpy="0 0 0" />
    <parent link="lml11" />
    <child link="lml12" />
    <axis xyz="-1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="leg_3_end" />
  <joint name="leg_3_end_joint" type="fixed">
    <origin xyz="0 0.2 0" rpy="0 0 0" />
    <parent link="lml12" />
    <child link="leg_3_end" />
  </joint>

  <!-- 腿 5: 右后 (rb) -->
  <link name="rbl13">
    <inertial>
      <origin xyz="0 0 0.0013145" rpy="0 0 0" />
      <mass value="0.576" />
      <inertia ixx="0.000" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rbl13.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rbl13.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rbj13" type="revolute">
    <origin xyz="-0.14185 -0.0655 -0.01975" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rbl13" />
    <axis xyz="0 0 -1" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="rbl14">
    <inertial>
      <origin xyz="0.032218 -0.0039271 -6.5368E-07" rpy="0 0 0" />
      <mass value="0.961" />
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.002" iyz="0.000" izz="0.002" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rbl14.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rbl14.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rbj14" type="revolute">
    <origin xyz="-0.0385 0 -0.06575" rpy="0 0 0" />
    <parent link="rbl13" />
    <child link="rbl14" />
    <axis xyz="1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="rbl15">
    <inertial>
      <origin xyz="-8.699E-12 -0.13449 -4.4688E-05" rpy="0 0 0" />
      <mass value="0.124" />
      <inertia ixx="0.003" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rbl15.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/rbl15.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rbj15" type="revolute">
    <origin xyz="-0.02875 -0.216 0" rpy="0 0 0" />
    <parent link="rbl14" />
    <child link="rbl15" />
    <axis xyz="-1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="leg_4_end" />
  <joint name="leg_4_end_joint" type="fixed">
    <origin xyz="0 -0.2 0" rpy="0 0 0" />
    <parent link="rbl15" />
    <child link="leg_4_end" />
  </joint>

  <!-- 腿 6: 左后 (lb) -->
  <link name="lbl16">
    <inertial>
      <origin xyz="0 0 0.0013145" rpy="0 0 0" />
      <mass value="0.576" />
      <inertia ixx="0.000" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lbl16.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lbl16.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lbj16" type="revolute">
    <origin xyz="-0.14185 0.0655 -0.01975" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lbl16" />
    <axis xyz="0 0 -1" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="lbl17">
    <inertial>
      <origin xyz="0.032218 0.0039271 6.5393E-07" rpy="0 0 0" />
      <mass value="0.961" />
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.002" iyz="0.000" izz="0.002" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lbl17.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lbl17.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lbj17" type="revolute">
    <origin xyz="-0.0385 0 -0.06575" rpy="0 0 0" />
    <parent link="lbl16" />
    <child link="lbl17" />
    <axis xyz="1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="lbl18">
    <inertial>
      <origin xyz="7.9936E-15 0.13449 0.00011183" rpy="0 0 0" />
      <mass value="0.124" />
      <inertia ixx="0.003" ixy="0.000" ixz="0.000" iyy="0.000" iyz="0.000" izz="0.003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lbl18.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://hexapod_v3/meshes/lbl18.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lbj18" type="revolute">
    <origin xyz="-0.02875 0.216 0" rpy="0 0 0" />
    <parent link="lbl17" />
    <child link="lbl18" />
    <axis xyz="-1 0 0" />
    <limit lower="-6" upper="6" effort="100" velocity="10" />
    <dynamics damping="0.1" friction="0.01" />
  </joint>
  <link name="leg_5_end" />
  <joint name="leg_5_end_joint" type="fixed">
    <origin xyz="0 0.2 0" rpy="0 0 0" />
    <parent link="lbl18" />
    <child link="leg_5_end" />
  </joint>

  <!-- 保留原有的 transmission 和 gazebo 插件 -->
  <transmission name="trans_lfj4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lfj4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lfj4_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!-- ... 其他 transmission 标签保持不变 ... -->
  <transmission name="trans_lbj18">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lbj18">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lbj18_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <xyzOffset>0 0 0</xyzOffset>
      <rpyOffset>0 0 0</rpyOffset>
      <frameName>base_link</frameName>
      <updateRate>500.0</updateRate>
    </plugin>
    <plugin name="POS_COM" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>500.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>POS_COM</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>map</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/hexapod_v3</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
</robot>